{% extends "base.html" %}
{% block content %}
 <div class="container">
                    <div class="jumbotron col-lg-4 text-center" style="background-color: rgba(0,0,0,0.4);">
                        <img src="../static/img/jonathan_eckel.jpg" class="img-responsive img-circle center-block" alt="">
                        <h3>Jonathan Eckel</h3>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/jonathaneckel" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://github.com/jonathan-eckel" target="_blank"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.twitter.com/jonathan_eckel" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="mailto:jonathan.eckel@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="http://jonathan-eckel.github.io" target="_blank"><i class="fa fa-link"></i></a>
                            </li>
                        </ul> 
                    </div>
    </div> <!-- /.container-->
{% endblock %}
{% block endScripts %}
    {{ super() }}
<script type="text/javascript">
window.onload=function () {
    $('#about').addClass('active');
};
</script>
{% endblock %}
