{% extends "base.html" %}
{% block head %}
{{ super() }}
    <!-- select2, for searchable text box -->
	<link rel="stylesheet" href="//select2.github.io/select2/select2-3.5.1/select2.css">
    <link rel="stylesheet" href="../static/css/select2-bootstrap.css"/>
{% endblock %}

{% block content %}
 <div class="container">

    <div>
        <h1>beersomme</h1>
        <p class="lead">Find a bar, drink awesome beer!</p>
    </div>

    <div class = "container">

        <div class="row">
            <form name="myform" action="/output" method="GET" id="inputform">
            <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="form-group">
            <label for="userloc">Address:</label>
            <div class="input-group">
                <input id="address" type="text" class="form-control input" id="userloc" name='userloc' required=True placeholder="Enter a location: e.g. Union Square, New York, NY">
                  <span class="input-group-btn">
                    <label for="mybutton">a</label>
                    <button type="button" class="btn btn-default" onclick="getLocation()">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                  </span>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
                <label for="radius">Radius (mi):</label>
                <input type="number" class="form-control input" id="radius" name="radius" value="1" min="0.25" max="25" step="0.25">
            </div>
            </div>

        <p id="mylocation"></p>

        </div>
            <div class="form-group" >
                <label for="userbeer">  Beer:</label>
                <select id="userbeer" name="userbeer" class="input-lg select2 form-control">
                <option></option>
                {% for r in results %}
                    <option value="{{r[0]}}">{{r[1]}}</option>
                {% endfor %}
                </select>
            </div>

        <div>
          <button id="mySubmitButton" type="submit" class="btn btn-default btn-lg">Find a bar!</button>
        </div>

      </form>



    </div>

<!--
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          No beers found!
        </div>
-->        

  

    </div> <!-- /.container-->

    <div class="container">
    <p class="text-right">Powered by <a href="https://untappd.com/">Untappd</a> </p>
    </div>

{% endblock %}

{% block endScripts %}
{{ super() }}

<script src="//select2.github.io/select2/select2-3.5.2/select2.js"></script>

<script>
var x = document.getElementById("mylocation");

function getLocation() {
    if (navigator.geolocation) {
        position = navigator.geolocation.getCurrentPosition(disableAddress);

    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function disableAddress(position) {
    lat = position.coords.latitude
    lng = position.coords.longitude

//    $("#address")[0].disabled = true;
    var str1 = "LAT: ".concat(lat);
    var s = ", "
    var str2 = "LNG: ".concat(lng);
    $("#address")[0].value = str1.concat(s).concat(str2)
}

//function showPosition(position) {
//    x.innerHTML = "Latitude: " + position.coords.latitude + 
//    "<br>Longitude: " + position.coords.longitude;	
//}

function addFields(){
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Member " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "member" + i;
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
</script>

<!--
<script src="//select2.github.io/select2/select2-3.5.2/select2.js"></script>
-->

<script>
var placeholder="Choose a beer: e.g. Stone India Pale Ale";
	$( ".select2" ).select2( { 
	placeholder: placeholder,
	minimumInputLength: 3,
    } );
    // if no beer chosen, default to stone IPA
    $(document).ready(function(){
    $("#mySubmitButton").click(function(){
        if ( ! $("#userbeer").val() ) {
            $( ".select2" ).select2('val', $(".select2 option[value*='1195']").val());
        }
    });
});
    
</script>

<script type="text/javascript">
window.onload=function () {
    $('#home').addClass('active');
};
</script>
{% endblock %}

