{% extends "base.html" %}
{% block content %}
 <div class="container">
    <iframe src="//www.slideshare.net/slideshow/embed_code/44289024" 
        width="476" height="400" frameborder="0"
        marginwidth="0" marginheight="0" scrolling="no"></iframe>

    </div> <!-- /.container-->
{% endblock %}

{% block endScripts %}
    {{ super() }}
    <script type="text/javascript">
        window.onload=function () {
            $('#slides').addClass('active');
            };
    </script>
{% endblock %}
